<div class="final-calculated-card">
    <div class="card-content">
        <div class="card-line-item">
            Loan Amount
        </div>
        <div class="card-line-item-amount">
            &#8377; 100000
        </div>
        <div class="card-line-item margin-top-10">
            Your EMI will be
        </div>
        <div class="card-line-item-amount margin-bottom-10">
            &#8377; 15000
        </div>
        <div class="card-line-item-button">
            <button class="button-basic button-get-money">Get Money</button>
        </div>
    </div>
</div>
